ul {
  padding: initial;
}

li {
  width: 30px;
}
.header {
  overflow: hidden;
  position: relative;
  height: initial;
  padding: 10px 0 7px 0;
  text-align: center;
}

.header>.searchIpt {
  width: initial;
}

.fork-on-github {
  width: 100px;
}